#SIMULA UM DELAY NAS ACÕES DO DB
TIMEOUT_MS=0


NEXT_PUBLIC_IMAGE_UPLOADER_MAX_SIZE=921600
IMAGE_UPLOADED_DIR='uploads'
IMAGE_SERVER_URL='http://localhost:3000/uploads'

#CHAVE PARA ASSINAR OS COOKIES JWT
JWT_SECRET_KEY='CHAVE JWT'

#TEMPO PARA O LOGIN EXPIRAR EM SEGUNDOS
LOGIN_EXPIRATION_SECONDS=86400
LOGIN_EXPIRATION_STRING='1d'

#NOME DO COOKIE USADO NO LOGIN
LOGIN_COOKIE_NAME='login session'

#USUÁRIO PARA LOGAR NA PÁGINA /admin/login
LOGIN_USER='eric'
#HASH DE SENHA BASE64
#USE A FUNÇÃO generate-hashed-password.ts PARA CRIAR O HASH DA SUA SENHA utils/generate-hashed-password.ts
LOGIN_PASSWORD='JDJiJDEwJEt5LmNUNVdEVWQwdmV5andZdUc3RC5KSGJGaXZFd2ouQ3NzR1cxRzA2bXU5MXNHRURycDhh'

#PERMITE LOGIN 0: NAO 1: SIM
ALLOW_LOGIN=1